/* Header */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    width: 100vw;
}


/* Left column */

.col-left {
    width: 22vw;
    margin-left: 2vw;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: 1px black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 15px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}


/* Center column */

.col-center {
    width: 44%;
    padding: 40px 20px;
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid lightblue;
    box-shadow: 2px 2px 8px rgba(61, 59, 175, 0.288);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Course list */

.title {
    align-self: start;
    padding-left: 5%;
}

.course-card {
    width: 90%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.164);
    border: 1px solid rgba(211, 211, 211, 0.438);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 15px;
}

.course-card .course-name {
    padding: 0 20px;
    line-height: 0.5rem;
    min-width: 150px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    border-left: 1px solid #1d355727;
    padding-left: 20px;
    flex-grow: 1;
    background-color: #F1FAEE;
}

.course-info>* {
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.go-to-course {
    width: 20%;
    background: rgb(241, 250, 238);
    background: linear-gradient(90deg, rgba(241, 250, 238, 1) 0%, rgba(119, 171, 189, 1) 50%);
    font-size: 2vw;
    display: flex;
    text-decoration: none;
    color: white;
}

.go-to-course:hover {
    background: linear-gradient(90deg, rgba(241, 250, 238, 1) 0%, #31587A 50%);
}

.go-to-course p {
    margin: auto;
    margin-left: 68%;
}

/* Right column */
.col-right{
    width: 22vw;
    margin-right: 2vw;
}

 /*CALENDAR & NEXT EVENTS STYLING*/
 #calendar *{
    float: initial;
}

#calendarRed{
   zoom: 75%;
   height: 500px;
}

 .CALENDAR_ACTION {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}