/* Header */

* {
    box-sizing: border-box;
    /*border: 1px solid;*/
}

body {
    margin: 0;
}

main {
    display: flex;
}


/* Left column */

.col-left {
    /*width: 22vw;*/
    margin-left: 2%;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: 1px black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 15px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}


/* Center column */

.col-center {
    padding: 40px 20px;
    margin-right: 3%;
    margin-left: 1.5%;
    border: 1px solid lightblue;
    box-shadow: 2px 2px 8px rgba(61, 59, 175, 0.288);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Course list */

.title {
    align-self: start;
    padding-left: 5%;
}

.course-card {
    width: 90%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.164);
    border: 1px solid rgba(211, 211, 211, 0.438);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 15px;
}

.course-card .course-name {
    padding: 0 20px;
    line-height: 0.5rem;
    min-width: 150px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    border-left: 1px solid #1d355727;
    padding-left: 20px; 
    flex-grow: 1;
    background-color: #F1FAEE;
}

.course-info>* {
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.go-to-course {
    width: 20%;
    background: rgb(241, 250, 238);
    background: linear-gradient(90deg, rgba(241, 250, 238, 1) 0%, rgba(119, 171, 189, 1) 50%);
    font-size: 2vw;
    display: flex;
    text-decoration: none;
    color: white;
}

.go-to-course:hover {
    background: linear-gradient(90deg, rgba(241, 250, 238, 1) 0%, #31587A 50%);
}

.go-to-course p {
    margin: auto;
    margin-left: 68%;
}

/* Right column */
.col-right{
    padding: 40px 20px;
    margin-right: 1.5%;
    /*margin-left: 3%;*/
    border: 1px solid lightblue;
    box-shadow: 2px 2px 8px rgba(61, 59, 175, 0.288);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

/* Center column (Course) */

.col-center-course {
    width: 44%;
    padding: 40px 20px;
    margin-right: 3%;
    margin-left: 3%;
    border: 1px solid lightblue;
    box-shadow: 2px 2px 8px rgba(61, 59, 175, 0.288);
    border-radius: 10px;
    align-items: left;
}

  
  
  /*CALENDAR & NEXT EVENTS STYLING*/
  #calendar *{
      float: initial;
  }

 #calendarRed{
     zoom: 75%;
     height: 500px;
 }
  
   .CALENDAR_ACTION {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
  }

/*
                                     _           
 _ __ ___  ___ _ __   ___  _ __  ___(_)_   _____ 
| '__/ _ \/ __| '_ \ / _ \| '_ \/ __| \ \ / / _ \
| | |  __/\__ \ |_) | (_) | | | \__ \ |\ V /  __/
|_|  \___||___/ .__/ \___/|_| |_|___/_| \_/ \___|
              |_|                                
     _         _ _             
 ___| |_ _   _| (_)_ __   __ _ 
/ __| __| | | | | | '_ \ / _` |
\__ \ |_| |_| | | | | | | (_| |
|___/\__|\__, |_|_|_| |_|\__, |
         |___/           |___/ 

*/

/*
Note: responsive sizing will be stated in this order:

class="col-1 col-s-1"

class="laptop-disabled tablet-disabled phone-disabled"

first laptop styling, then tablet styling and lastly phone styling

The disable class allows us to control exactly what we want to display on each version of the website. 
It gives us a very granular control of what is displayed.

*/
/*
[class*="col-"] {
    float: left;
    padding: 2%;
}*/
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
  
  
  
  
  /*
   ____  _                           
  |  _ \| |__   ___  _ __   ___  ___ 
  | |_) | '_ \ / _ \| '_ \ / _ \/ __|
  |  __/| | | | (_) | | | |  __/\__ \
  |_|   |_| |_|\___/|_| |_|\___||___/
   
  */
  
  
  
  @media only screen and (max-width: 599px){
  
      .phone-disabled{display: none;}
  
      [class*="col-"]{
        width: 100%;
      }
  
      .col-p-1 {width: 8.33%;}
      .col-p-2 {width: 16.66%;}
      .col-p-3 {width: 25%;}
      .col-p-4 {width: 33.33%;}
      .col-p-5 {width: 41.66%;}
      .col-p-6 {width: 50%;}
      .col-p-7 {width: 58.33%;}
      .col-p-8 {width: 66.66%;}
      .col-p-9 {width: 75%;}
      .col-p-10 {width: 83.33%;}
      .col-p-11 {width: 91.66%;}
      .col-p-12 {width: 100%;}
  
  }
  
  
  
  
  
  
  
  /*
   _____     _     _      _       
  |_   _|_ _| |__ | | ___| |_ ___ 
    | |/ _` | '_ \| |/ _ \ __/ __|
    | | (_| | |_) | |  __/ |_\__ \
    |_|\__,_|_.__/|_|\___|\__|___/
  
  */
  @media only screen and (min-width: 600px) and (max-width: 850px){
    
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
      .tablet-disabled{display: none;}
  
  }
  
  
  
  
  
  
  
  
  
  /*
   _                _                  
  | |    __ _ _ __ | |_ ___  _ __  ___ 
  | |   / _` | '_ \| __/ _ \| '_ \/ __|
  | |__| (_| | |_) | || (_) | |_) \__ \
  |_____\__,_| .__/ \__\___/| .__/|___/
             |_|            |_|        
  
  */
  @media only screen and (min-width: 850px) {
    
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      .laptop-disabled{display: none;}
  
  }